/* I need to change the color of first elemet that take the whole row */
/* change the size of the text also */
/* ///////////////////////////////////////////////////////////// */
.calculator-wrapper{
  width: 400px;
  

  margin:0 auto;
  border: 1px solid black;
  
}

.row {
  display: flex;
  justify-content:space-evenly;

 
}

button {
  width: 24.5%;
  padding: 48px;
  
  border: 1px color(black);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size:larger

}

.double-width {
  width: 49%; /* the one percent is for avoid elements overlaping*/
}

.single-element{
  width: 99%;
  background-color: black !important;
  text-align: right;

}

.triple-spaces{
  width: 74.9%; /* I have 4 speaces in  a row,so 3 spaces takes 75 of a row */
}

button:last-child {
  background-color: orange; /* Make the last button in each row orange */
  color: white; /*last child text get white text color */

}
